
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.homePageWrapper {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
  background: #262626;
}

homePage-ul {
  position: relative;
  width: 100%;
  height: 100%;
}

.homePage-item {
  overflow: hidden;
  list-style-type: none;
  position: absolute;
  z-index: 1;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
}

.homePage-item:first-child, .homePage-item:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: none;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
}


.homePage-content {
  width: 100%;
  height: 100%;
  position: absolute;
  font: 400 1.25rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homePage-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.homePage-creation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homePage-description {
  line-height: 1.7;
  margin: 1rem 0 1.5rem;
  font-size: 0.75rem;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
}

.homePage-button:active {
  transform: scale(0.95); 
  background: #3635355e 
}

.homePage-button:active .homePage-buttontext {
  color: #c4c4c4; 
}

.homePage-button {
  width: fit-content;
  padding: 12px;
  border-radius: 25px;
  background: #0e0e0e66;
}

.homePage-buttontext {
  display: flex;
  margin-left: 14px;
  margin-right: 14px;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  transition: transform 0.2s ease;
}

.cardDescription {
  padding: 0.75rem;
  display: flex;
}

.homePage-item:nth-of-type(2) .homePage-content {
 
  animation: homePage-show 0.75s ease-in-out 0.3s forwards;
}

@keyframes homePage-show {
  from {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.homePage-nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;
}

.homePage-btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.6);
  margin: 0 0.25rem;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.homePage-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}



.background-crud-img::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}


/* Media queries */
@media (min-width: 650px) and (max-width: 900px) {
  .homePage-content .homePage-title { font-size: 1rem; }
  .homePage-content .homePage-description { font-size: 0.7rem; }
  .homePage-button { font-size: 0.7rem; }
  .homePage-item { width: 160px; height: 270px; }
  .homePage-item:nth-child(3) { top: 50%; }
  .homePage-item:nth-child(4) { top: calc(50% + 20px); }
  .homePage-item:nth-child(5) { top: calc(50% + 40px); }
  .homePage-item:nth-child(6) { top: calc(50% + 60px); opacity: 0;}
}

@media (max-width: 650px) {
  .homePage-content .homePage-title { }
  .homePage-content .homePage-description { }
  .homePage-button { font-size: 0.7rem; }

  .homePage-item { 
    width: 100%;  
    height: 18%; 
    margin: 0 auto 
  }

  .homePage-item:nth-child(3) { top: 80%; }
  .homePage-item:nth-child(4) { top: calc(80% + 20px); }
  .homePage-item:nth-child(5) { top: calc(80% + 40px); }
  .homePage-item:nth-child(6) { top: calc(80% + 60px); opacity: 0;}
}


.Element_container {
  position: absolute;
  width: 100%;
  height: 30%;
}

.GoogleElement {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ConstructionElement {
  height: 100%;
  width: 100%;
  position: absolute;
}

.PMElement {
  top: -20%;
  height: 100%;
  width: 100%;
  position: absolute;
}