@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

.mobile-container {
    height: 100%;
    background: #6b7280
}

.mobile-background {
    background-image: url('../../assets/images/WarningBackground.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.mobile-textcontainer1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-textbody1 {
    font-weight: 900;
    font-size: 45px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 190px;
}

.mobile-textcontainer2 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
}

.mobile-textbody2 {
    font-family: 'DM Sans', sans-serif;
    color: #6b7280;
}

.mobile-button {
    width: 220px;
    margin-top: 30px;
    padding: 15px;
    border-radius: 25px;
    background: linear-gradient(90deg, #4ddaff, #ff3131, #ff914d);
}

.mobile-buttontext {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 18px;
    color: #050304;
    font-family: 'DM Sans', sans-serif;
}

@media (max-height: 430px) {
    .mobile-background {
        height: 100vh; /* Revert to 100vh for smaller devices */
    }
}